.service-section{
	padding:60px 20px;
}
.service-card{
	cursor: pointer;
	border:none;
	border-radius: 20px;
	margin-bottom: 25px;
}
.service-card:hover{
	box-shadow: 0px 4px 44px rgb(0 0 0 / 12%);

}
.service-card:hover .card-title{
	color:#de1d3e;
}
.service-card:hover .card-numner{
	border-color: #225491;
}
.service-card .card-title{
	font-size:2.3rem;
	font-weight: 700;
	color:#225491;
}
.service-section a{
	color:#000;
}
.service-card .service-btn{
	border-radius: 30px;
	background: #1a5090;
	color:#fff;
	margin-top:25px;
	padding:12px 33px;
}
.service-card .service-btn:hover{
	background-color: transparent;
	color:#225491;
}
.service-section a:hover{
	text-decoration: none;
}
.card-numner {
	margin:auto;
    margin-bottom: 20px;
    background-color: aliceblue;
    width: 150px;
    text-align: center;
    padding-top: 8px;
    /* margin: auto; */
    height: 150px;
    font-size: 67px;
    border-radius: 50%;
    /* font-weight: 700; */
    border: 13px solid palevioletred;
    }
 .card-text{
 	font-weight: 300;
 }